    <form name="form" ng-submit="ctrl.checkUser()">
		<div class="row">
			<div class="form-group col-md-12">
				<label class="col-md-2 control-lable" for="name">Name</label>
				<div class="col-md-7">
					<input type="text" ng-model="name" id="name"
						class="username form-control input-sm"
						placeholder="Enter your name" required ng-minlength="3" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				<label class="col-md-2 control-lable" for="password">Password</label>
				<div class="col-md-7">
					<input type="password" ng-model="password" id="password"
						class="form-control input-sm" placeholder="Enter your password"
						required ng-minlength="3" />
				</div>
			</div>
		</div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
