/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    min-height: 100% !important;
    height: 100%;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body{
    min-height: 100% !important;
    height: 100%;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
canvas{
  display:block;
  vertical-align:bottom;
}

#full-page{
	width:100%;
	height:100%;
	display:block;
	margin-top:0;
	background-color:#000;
	
}

#top{
	width:100%;
	height:50%;
	display:block;
	margin-top:0;
	background-color:#212121;
	box-shadow: 0px 0px 15px #000 inset;
	
}

#logoholder{
	width:100%;
	height:50%;
	position:absolute;
	display:block;
	margin:auto;
}

#logohq{
	width:233px;
	height:182px;
	display:block;
	margin:auto;
	margin-top:60px;
	background:url(../img/logohq.png) no-repeat 0 0;
}

#bottom{
	width:100%;
	height:45%;
	background-color:#d9d9d9;
	margin-top:0;
}

#bottom ul{
	width: 70%;
	height:100%;
	display:block;
	margin:auto;
}
#bottom ul a{
	color:#212121;
	}

#bottom ul li{
	width:183px;
	margin-left:25px;
  	height: 200px;
  	display:inline-block;
  	margin-top:25px;
  	background-color:#cbc9c9;
  	border:1px solid #b4b4b4;
  	border-radius:4px;
  	box-shadow:0px 0px 0px rgba(0, 0, 0, 0.1);	
    transition:all 0.5s ease;
    
}
.head{
	width: inherit;
    height: 30px;
    Margin-top: 115px;
    text-align: center;
    display: block;
    position: absolute;
    font-family: Roboto;
    font-weight: bold;
    font-size:16px;
}
.content{
	width: inherit;
    height: 30px;
    Margin-top: 125px;
    text-align: center;
    display: block;
    font-size:12px;
    position: absolute;
    font-family: Roboto;
    padding:14px;
}
.newticket{
	  background: url(../img/newticket.png) no-repeat 53px 20px;
}
.status{
	  background: url(../img/status.png) no-repeat 42px 20px;
}
.kb{
	  background: url(../img/kb.png) no-repeat 53px 20px;
}
.userlogin{
	  background: url(../img/userlogin.png) no-repeat 53px 20px;
}

#bottom ul li:hover{
  		box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);	
}



#footer{
	width:100%;
	height:5%;
	display:block;
	background-color:#cbc9c9;
	margin-top:0;
	text-align:center;
	font-size:12px;
	font-family:Roboto;
	line-height:2em;
	
}
#footer .color{
	color:#01849f;
	font-size:14px;
}
/* ==========================================================================
   Login Page Style
   ========================================================================== */
#login-page{
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	margin-top:0;
	background-color:#212121;
}
.custom-message{
	width: 350px;
    background-color: #01849f;
    color: white;
	padding: 16px 19px;
    margin: 29px 109px;
    border: none;
    border-radius: 4px;
    font-family:Roboto;
    font-size:14px;
    font-weight:bold; 
    position:fixed;
    float:right;
    animation: vanish 1s  3s forwards;
    
}
.back-button{
	width: 50px;
    background-color: #01849f;
    color: white;
	padding: 7px 11px;
    margin: 8px 42px;
    border: none;
    border-radius: 4px;
    font-family:Roboto;
    font-size:14px;
    font-weight:bold; 
    position:fixed;
    text-align:center;
    
	
}

.green{
	    background-color: #00a651;
}
.red{
	background-color:#7b0e0e;
}

#login-page #holder{
	width:inherit;
	height:inherit;
	display:block;
	position:absolute;
}
#holder #box{
	width:380px;
	height:290px;
	margin:auto;
	display:block;
	border-radius:4px;
  	background-color:#d9d9d9;
  	margin-top:0;
}
#box .custom-login{
	width: 300px;
    padding: 12px 20px;
    margin: 0px 42px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5) inset;
	
}
#box .custom-label{
	width: 300px;
    margin: 0px 42px;
    padding: 5px 2px;
    display: inline-block;
    text-align:left;
    font-family:Roboto;
    font-size:16px;
}
#box .custom-button{
	width: 300px;
    background-color: #01849f;
    color: white;
	padding: 11px 19px;
    margin: 8px 42px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:Roboto;
    font-size:12px;
    font-weight:bold; 
}


#box .custom-button:hover{
  	box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);	
}
#login-page h2{
	font-size:24px;
	font-family:Roboto;
	text-align:center;
	padding-top: 15px;
	font-weight:bold;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
/* ==========================================================================
   Dashboard Style
   ========================================================================== */


#leftmenu{
  width:8%;
  background-color: #212121;
  height: 100%;
  display: block;
  float:left;
}


#leftmenu ul{
  width: 60px;
  height: auto;
  margin: auto;
  display: block;
  margin-top: 44px;
  margin-left: -20px;
}

#leftmenu ul li{
  width:60px;
  height: 60px;
  display: block;
  margin-top:34px;
  border-radius: 50%;
}

#leftmenu ul li a{
     float: left;
     display: block;
     width: 60px;
     height: 60px;
     background-color: #212121;
     text-decoration: none;
     border-radius: 50%;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) inset;

   }
.active {
	background-color: #01849f !important;
  	box-shadow: 0px 0px 10px rgba(0, 0, 0, 1) inset !important;
	
}

#leftmenu ul li a:hover{
  background-color: #01849f;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1) inset;
   }
.ticket{
  background: url(../img/ticket.png) no-repeat 20px 15px;
}
.user{
  background: url(../img/user.png) no-repeat 18px 14px;
}
.org{
  background: url(../img/org.png) no-repeat 20px 15px;
}
.agent{
  background: url(../img/agent.png) no-repeat 18px 14px;
}
#logo{
  background: url(../img/logo.png) no-repeat 0 0;
  width: 85px;
  height: 65px;
  display: block;
  margin-top:20px;
  margin-left: 4px;
  position: relative;
}

#rightcontent{
  width:92%;
  height:100%;
  background-color: #d9d9d9;
  float:right;
}

#rightcontent .welcome-message{
width: 90%;
    background-color: #00a651;
    color: white;
    border: none;
    position:fixed;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    height: 54px;
    margin-left:20px;
    margin-top: 10px;
    text-align: center;
    padding-top: 5px;
    opacity:1;
    animation: vanish 1s  5s forwards;
}
#rightcontent .red{
	background-color:#7b0e0e !important;
}

@-webkit-keyframes vanish {
    0%   {opacity:1; }
    100% {opacity:0;}
}

/* Standard syntax */
@keyframes vanish {
    0%   {opacity:1;}
    100% {opacity:0;    visibility: hidden;
    }
}
}
#rightcontent .right-container{
	width:95%;
	height:90%;
	margin:auto;
	display:block;
	margin-top:40px;
}

.logout-button{
	width:inherit;
	background-color: #01849f;
    color: white;
	padding: 11px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:Roboto;
    font-size:12px;
    font-weight:bold; 
	
}
/* ==========================================================================
   Ticket Page
   ========================================================================== */
   
   #ticketpage .text{
width: auto;
    height: auto;
    font-size: 26px;
    margin-top: 16px;
    padding-top: 0px;
    display: block;
    float: left;   }
#ticketpage button{
width: auto;
    background-color: #01849f;
    color: white;
    padding: 11px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    margin-left: 67%;
    margin-top: 16px;}
#ticketpage button:hover{
	box-shadow: 0px 0px 0px #000 rgba(0, 0, 0, 0.5);
}
#ticketpage button a{
	color:#fff;
	text-decoration:none;
	}
.ticketblock{
	width: 100%;
    height: 72px;
    display: block;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius:4px;
}

.type{
	width:2%;
	height:72px;
	display:block;
	background-color: green;
	float:left;
	
}
.critical{
	background-color: #a61111 !important;
	
}
.moderate{
		background-color: #3b3811 !important;
	
}


.holder{
	width: 96%;
    float: right;
    height: 72px;
}

.tickethead{
	width: 80%;
    height: 40px;
    float: left;
    font-family: roboto;
    font-size: 20px;
    padding-top: 7px;
    font-weight:bold;
        text-overflow: ellipsis;
            overflow: hidden;
    white-space: pre;	
        
    	
	}
.descholder{
	width: 53%;
    height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;	
}
.extensionbox{
	width:100%;
	height:300px;
	display:block;
	background-color:#000;
	
}

#viewticket{
	width:38%;
	float:right;
	display:block;
	height:100%;
}
#viewcontainer{
	width:100%;
	height:100%;
	display:block;
	background-color:#212121;
}
.ticketdetails{
	width: 100%;
    text-align: center;
    margin: auto;
    padding: 12px;
    background-color: #333333;
    color: #d9d9d9;
    font-size: 16px;
    border-radius: inherit;
    font-family: Roboto;
    font-weight: bold;
    box-shadow: 0px 0px 1px #000;
}

.title{
	    width: 90%;
    margin: auto;
    margin-top: 3px;
    line-height: 1em;
    background-color: #333;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    font-size: 16px;
    font-family: Roboto;
    color: #fff;
}
.titletext{
	width: 93%;
    margin: auto;
    color: #d9d9d9;
    font-size: 16px;
    margin-top: 10px;
    font-family: Roboto;
    font-weight: bold;
}
.desc{
	    width: 90%;
    margin: auto;
    margin-top: 3px;
    line-height: 1em;
    background-color: #333;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #505050;
    font-size: 16px;
    font-family: Roboto;
    color: #d9d9d9;
}













/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
.fade1{
	width:100%;
	height:600px;
	display:block;
}

.fade1.ng-enter {
  transition:0.5s linear all;
  -webkit-transition:0.5s linear all;
  opacity:0;
  margin-top:-10px;
}

/* The finishing CSS styles for the enter animation */
.fade1.ng-enter-active {
  opacity:1 !important;
  margin-top:0px;
  
}





